/*******************************************************************************
 *                                                                             *
 * Font			                                                               *
 *                                                                             *
 ******************************************************************************/

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans-Bold.ttf');
}

/*******************************************************************************
 *                                                                             *
 * Button  			                                                           *
 *                                                                             *
 ******************************************************************************/

.pesanan-button {
    -fx-graphic: url('/icons/icons8-shopping-cart-20.png');
}

.tambah-pesanan-button {
    -fx-graphic: url('/icons/icons8-add-shopping-cart-30.png');
    -fx-font-family: 'OpenSans';
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.ramen {
    -fx-graphic: url('/icons/icons8-noodles-20.png');
}

.minuman {
     -fx-graphic: url('/icons/icons8-soda-20.png');
}

.cemilan {
    -fx-graphic: url('/icons/icons8-french-fries-20.png');
}

.lainnya {
     -fx-graphic: url('/icons/icons8-rice-bowl-20.png');
}

.hapus {
    -fx-graphic: url('/icons/icons8-delete-20.png');
}

.tambah {
    -fx-graphic: url('/icons/icons8-plus-30.png');
}

.kurang {
    -fx-graphic: url('/icons/icons8-minus-30.png');
}

.ramen:hover, .minuman:hover, .cemilan:hover, .lainnya:hover, .pesanan-button:hover {
    -fx-background-color: #EAEAEA;
}

.ramen-pressed {
    -fx-graphic: url('/icons/icons8-noodles-20-white.png');
}

.minuman-pressed {
    -fx-graphic: url('/icons/icons8-soda-20-white.png');
}

.cemilan-pressed {
    -fx-graphic: url('/icons/icons8-french-fries-20-white.png');
}

.lainnya-pressed {
    -fx-graphic: url('/icons/icons8-rice-bowl-20-white.png');

}

.ramen-pressed, .minuman-pressed, .cemilan-pressed, .lainnya-pressed, .pesanan-button-pressed {
    -fx-background-color: linear-gradient(to right bottom, #405de6, #5851db, #833ab4);
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Text 			                                                           *
 *                                                                             *
 ******************************************************************************/

.text-body {
    -fx-font-family: 'OpenSans';
    -fx-font-size: 12pt;
}

.nama-ramen {
    -fx-font-size: 20pt;
}

.harga-ramen {
    -fx-font-size: 18pt;
}

.text-white {
    -fx-text-fill: white;
}

.text-bold {
    -fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * Component   		                                                           *
 *                                                                             *
 ******************************************************************************/

.jfx-combo-box {
    -fx-font-family: 'OpenSans';
    -fx-font-size: 14pt;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.combo-box > .list-cell {
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.jfx-text-field {
    -fx-font-family: 'OpenSans';
    -fx-font-size: 14pt;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.tree-table-cell {
    -fx-alignment: center;
}

.ramen-image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}

.border {
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 10pt;
}

/*******************************************************************************
 *                                                                             *
 * Pane 			                                                           *
 *                                                                             *
 ******************************************************************************/

.body-white {
    -fx-background-color: white;
}

.body-pane {
    -fx-background-color: linear-gradient(to right bottom, #5851db, #833ab4);
}
